html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 10; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

body {
  font-family: sans-serif;
  background: #282828; }

#content {
  padding: 55px 20px 20px; }

#bottom {
  display: none; }

#top {
  z-index: 1000;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #111111; }
  #top a#intridea {
    float: right; }
  #top h1 {
    float: left;
    padding: 0 10px; }
    #top h1 a {
      display: block;
      width: 200px;
      height: 50px;
      background: url(/images/logo.png?1299959445);
      text-indent: -999em; }

#sign_in {
  float: right;
  font-size: 12px;
  display: inline-block;
  background-color: #333333;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -moz-linear-gradient(top, #444444, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222')";
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 5px black;
  -webkit-box-shadow: 1px 1px 5px black;
  box-shadow: 1px 1px 5px black;
  filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=1px, OffY=1px, Color='black')";
  -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=1px, OffY=1px, Color='black')\"";
  padding: 4px 8px;
  font-weight: bold;
  color: #dddddd;
  text-decoration: none;
  display: none; }
  #sign_in:hover {
    color: white;
    -moz-box-shadow: 0 0 8px rgba(0, 128, 255, 0.7);
    -webkit-box-shadow: 0 0 8px rgba(0, 128, 255, 0.7);
    box-shadow: 0 0 8px rgba(0, 128, 255, 0.7);
    filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='rgba(0, 128, 255, 0.7)')";
    -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='rgba(0, 128, 255, 0.7)')\"";
    text-shadow: 0 0 6px rgba(0, 128, 255, 0.7); }
  #sign_in img {
    vertical-align: middle;
    margin-right: 5px; }

#recipe_filters {
  background: #181818;
  padding: 10px;
  margin: 0 -20px 15px; }
  #recipe_filters #name_filter {
    float: right;
    margin-top: -5px;
    background: black;
    border: 0;
    font-size: 14px;
    padding: 4px 8px;
    border: 1px solid #444444;
    color: #00cccc; }
  #recipe_filters a {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin: 0 3px;
    text-decoration: none;
    color: white; }
    #recipe_filters a.orm {
      color: #cc0000; }
    #recipe_filters a.templating {
      color: #00cc00; }
    #recipe_filters a.unit_testing {
      color: #4444ff; }
    #recipe_filters a.javascript {
      color: #ffcc00; }
    #recipe_filters a.integration_testing {
      color: #cc00cc; }
    #recipe_filters a.css {
      color: #00cccc; }
    #recipe_filters a.authentication {
      color: #ff7700; }
    #recipe_filters a.deployment {
      color: #cc0077; }
    #recipe_filters a.services {
      color: #aacc00; }

#new_rails_template {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  padding: 5px 0;
  background: #181818;
  border-bottom: 2px;
  z-index: 999; }
  #new_rails_template ul.recipes {
    clear: both;
    margin: 0 10px; }
    #new_rails_template ul.recipes li {
      font-size: 18px; }
      #new_rails_template ul.recipes li b {
        padding: 4px 8px; }
  #new_rails_template header {
    height: 30px;
    margin: 0 10px; }
    #new_rails_template header h1 {
      line-height: 30px;
      color: #ff00aa;
      font-size: 18px;
      float: left; }
      #new_rails_template header h1 small {
        font-size: 12px;
        color: #aaaaaa; }
    #new_rails_template header button {
      float: right;
      background: #111111;
      cursor: pointer;
      color: #00cccc;
      background: #003333;
      border: 0;
      font-family: sans-serif;
      font-size: 14px;
      padding: 4px 8px;
      -webkit-transition-property: "background-color, color";
      -moz-transition-property: "background-color, color";
      -o-transition-property: "background-color, color";
      -ms-transition-property: "background-color, color";
      transition-property: "background-color, color";
      -webkit-transition-duration: 0.25s;
      -moz-transition-duration: 0.25s;
      -o-transition-duration: 0.25s;
      -ms-transition-duration: 0.25s;
      transition-duration: 0.25s; }
      #new_rails_template header button:hover, #new_rails_template header button:focus {
        background: #00cccc;
        color: #111111; }

#recipe_picker {
  margin-top: 90px;
  -webkit-transition-property: margin;
  -moz-transition-property: margin;
  -o-transition-property: margin;
  -ms-transition-property: margin;
  transition-property: margin;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  margin-bottom: 70px; }

ul.recipes li {
  font-size: 36px;
  margin: 5px;
  color: white;
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=5px, OffY=5px, Color='rgba(0, 0, 0, 0.3)')";
  -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=5px, OffY=5px, Color='rgba(0, 0, 0, 0.3)')\"";
  background: #111111;
  cursor: pointer; }
  ul.recipes li b {
    display: block;
    padding: 6px 12px;
    font-weight: bold; }

ul.recipes li.orm, #help_text li.orm {
  background: #cc0000; }
ul.recipes li.templating, #help_text li.templating {
  background: #00cc00; }
ul.recipes li.unit_testing, #help_text li.unit_testing {
  background: #4444ff; }
ul.recipes li.javascript, #help_text li.javascript {
  background: #ffcc00;
  color: black; }
ul.recipes li.integration_testing, #help_text li.integration_testing {
  background: #cc00cc; }
ul.recipes li.css, #help_text li.css {
  background: #00cccc; }
ul.recipes li.authentication, #help_text li.authentication {
  background: #ff7700; }
ul.recipes li.deployment, #help_text li.deployment {
  background: #cc0077; }
ul.recipes li.services, #help_text li.services {
  background: #aacc00;
  color: black; }
ul.recipes li.disabled, #help_text li.disabled {
  color: #cccccc;
  background: #666666; }

#help_text li {
  z-index: 1000;
  position: fixed;
  bottom: -100px;
  left: 0;
  width: 100%;
  color: white;
  -webkit-box-sizing: "border-box";
  -moz-box-sizing: "border-box";
  -o-box-sizing: "border-box";
  -ms-box-sizing: "border-box";
  box-sizing: "border-box";
  padding: 10px 15px;
  -webkit-transition-property: bottom;
  -moz-transition-property: bottom;
  -o-transition-property: bottom;
  -ms-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  #help_text li.visible {
    bottom: 0px; }

#main > h1 {
  padding: 10px 15px;
  background: #00cccc;
  color: #111111;
  font-size: 30px;
  font-weight: bold;
  text-align: center; }

#saved_recipes {
  text-align: center;
  padding: 10px; }
  #saved_recipes li {
    display: inline-block;
    font-size: 20px; }
    #saved_recipes li b {
      display: inline-block; }

#rails_command {
  padding: 20px;
  background: #111111;
  font-family: Monaco, monospace;
  font-size: 14px;
  color: white;
  text-align: center; }
  #rails_command a {
    color: yellow; }
  #rails_command #app_name {
    color: #ff0088;
    font-weight: bold; }

#directory_picker {
  text-align: center;
  color: #888888;
  font-size: 14px;
  margin: 0 0 10px;
  background: black; }
  #directory_picker input {
    background: black;
    padding: 2px 5px;
    font-family: Monaco, monospace;
    font-weight: bold;
    border: 1px solid #333333;
    font-size: 14px;
    color: #ff0088; }

.breakout_box {
  background: #111111; }
  .breakout_box h1 {
    padding: 8px 12px;
    background: black;
    color: #00cccc;
    font-weight: bold;
    font-size: 20px; }
    .breakout_box h1 small {
      font-weight: normal;
      font-size: 12px;
      color: #888888;
      float: right;
      line-height: 20px; }

#content > header h1 {
  color: #eeee00;
  font-size: 40px;
  text-align: center;
  margin: 20px; }

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity, background-color, color;
     -moz-transition-property:    -moz-transform, opacity, background-color, color;
          transition-property:         transform, opacity, background-color, color;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}


/*

Uniform Theme: Agent
Version: 1.0
By: Collin Allen
License: Creative Commons Share Alike
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/

*/

/* Global Declaration */

div.selector, 
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action {
  background-image: url(../images/sprite-agent.png?1267839006);
  background-repeat: no-repeat;
}

.selector, 
.radio, 
.checker, 
.uploader, 
.selector *, 
.radio *, 
.checker *, 
.uploader *{
	margin: 0;
	padding: 0;
}

/* SPRITES */

/* Select */

div.selector {
  background-position: -483px -160px;
  line-height: 32px;
	height: 32px;
}

div.selector span {
  background-position: right 0px;
  height: 32px;
	line-height: 32px;
}

div.selector select {
  /* change these to adjust positioning of select element */
  top: 0px;
	left: 0px;
}

div.selector:active, 
div.selector.active {
	background-position: -483px -192px;
}

div.selector:active span, 
div.selector.active span {
	background-position: right -32px;
}

div.selector.focus, div.selector.hover, div.selector:hover {
	background-position: -483px -224px;
}

div.selector.focus span, div.selector.hover span, div.selector:hover span {
	background-position: right -64px;
}

div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
	background-position: -483px -256px;
}

div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
	background-position: right -96px;
}

div.selector.disabled,
div.selector.disabled:active,
div.selector.disabled.active {
	background-position: -483px -288px;
}

div.selector.disabled span,
div.selector.disabled:active span,
div.selector.disabled.active span {
  background-position: right -128px;
}

/* Checkbox */

div.checker {
  width: 23px;
  height: 23px;
}

div.checker input {
  width: 23px;
  height: 23px;
}

div.checker span {
  background-position: 0px -320px;
  height: 23px;
  width: 23px;
}

div.checker:active span, 
div.checker.active span {
	background-position: -23px -320px;
}

div.checker.focus span,
div.checker:hover span {
	background-position: -46px -320px;
}

div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
	background-position: -69px -320px;
}

div.checker span.checked {
	background-position: -92px -320px;
}

div.checker:active span.checked, 
div.checker.active span.checked {
	background-position: -115px -320px;
}

div.checker.focus span.checked,
div.checker:hover span.checked {
	background-position: -138px -320px;
}

div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
	background-position: -161px -320px;
}

div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
	background-position: -184px -320px;
}

div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
	background-position: -207px -320px;
}

/* radio */

div.radio {
  width: 23px;
  height: 23px;
}

div.radio input {
  width: 23px;
  height: 23px;
}

div.radio span {
  height: 23px;
  width: 23px;
  background-position: 0px -343px;
}

div.radio:active span, 
div.radio.active span {
	background-position: -23px -343px;
}

div.radio.focus span, 
div.radio:hover span {
	background-position: -46px -343px;
}

div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
	background-position: -69px -343px;
}

div.radio span.checked {
	background-position: -92px -343px;
}

div.radio:active span.checked,
div.radio.active span.checked {
	background-position: -115px -343px;
}

div.radio.focus span.checked, div.radio:hover span.checked {
	background-position: -138px -343px;
}

div.radio.focus:active span.checked, 
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
	background-position: -161px -343px;
}

div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
	background-position: -184px -343px;
}

div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
	background-position: -207px -343px;
}

/* uploader */

div.uploader {
  background-position: 0px -366px;
  height: 32px;
}

div.uploader span.action {
  background-position: right -494px;
  height: 24px;
  line-height: 24px;
}

div.uploader span.filename {
  height: 24px;
  /* change this line to adjust positioning of filename area */
  margin: 4px 0px 4px 4px;
  line-height: 24px;
}

div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
  background-position: 0px -430px;
}

div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
  background-position: right -526px;
}

div.uploader.active span.action,
div.uploader:active span.action {
  background-position: right -558px;
}

div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
  background-position: right -590px;
}

div.uploader.disabled {
  background-position: 0px -398px;
}

 div.uploader.disabled span.action {
  background-position: right -462px;
}

/* PRESENTATION */

/* Select */
div.selector {
  margin-bottom: 20px;
  width: 190px;
  font-weight: bold;
  color: #464545;
  font-size: 14px;
}

div.selector select {
  width: 190px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	border: solid 1px #fff;
}

div.selector span {
  padding: 0px 25px 0px 2px;
  cursor: pointer;
}

div.selector span {
  color: #ffffff;
  width: 158px;
  text-shadow: rgba(0,0,0,0.5) 0px -1px 0px;
}

div.selector.disabled span {
	color: #bbb;
}

/* checker */
div.checker {
  margin-right: 10px;
}

/* radio */
div.radio {
  margin-right: 10px;
}

/* uploader */
div.uploader {
  width: 190px;
  margin-bottom: 20px;
  cursor: pointer;
}

div.uploader span.action {
  width: 83px;
  text-align: center;
  text-shadow: rgba(0,0,0,0.5) 0px -1px 0px;
  background-color: #1a1a1a;
  font-weight: bold;
  color: #ffffff;
}

div.uploader span.filename {
  color: #1a1a1a;
  width: 82px;
  border-right: solid 1px #2e2e2e;
  font-size: 90%;
  font-size: 11px;
}

div.uploader input {
  width: 190px;
}

 div.uploader.disabled span.action {
  color: #aaa;
}

 div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}
/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.selector select:focus, .radio input:focus, .checker input:focus, uploader input:focus {
  outline: 0;
}

/* Select */

 div.selector {
	position: relative;
	padding-left: 10px;
}

 div.selector span {
	display: block;
	float: left;
}

 div.selector select {
	position: absolute;
	opacity: 0;
}

/* checker */

 div.checker {
	position: relative;
	float: left;
}

 div.checker span {
	display: block;
	float: left;
	text-align: center;
}

div.checker input {
  opacity: 0;
  display: inline-block;
}

/* radio */

div.radio {
	position: relative;
	float: left;
}

div.radio span {
	display: block;
	float: left;
	text-align: center;
}

 div.radio input {
  opacity: 0;
  text-align: center;
  display: inline-block;
}

/* uploader */

div.uploader {
  position: relative;
  float: left;
  overflow: hidden;
}

div.uploader span.action {
  float: left;
  display: inline;
  padding: 4px 0px;
  overflow: hidden;
  cursor: pointer;
}

div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.uploader input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  float: right;
}