<pre><code class='bash'>rails new APP_NAME <%= recipe.options %>
</code></pre>

<pre><code class='ruby'><%= recipe.code %></code></pre>

<div class='field submit'>
  <%= link_to 'Edit Recipe', edit_recipe_path(recipe), :class => 'button' %>
</div>