@import css3.sass
@import mixins.sass
@import reset.sass

$red: #c00
$green: #0c0
$blue: #44f
$yellow: #fc0
$magenta: #c0c
$cyan: #0bb
$orange: #f70
$violet: #c07
$olive: #ac0

$c_persistence: $red
$c_templating: $green
$c_testing: $blue
$c_assets: $cyan
$c_integration_testing: $magenta
$c_other: $olive
$c_authentication: $orange
$c_deployment: $violet
$c_services: $yellow

body
  font-family: sans-serif
  background: #282828

#content
  padding: 55px 20px 20px

#bottom
  display: none

#top
  nav
    li
      float: left
      a
        display: block
        color: white
        text-decoration: none
        line-height: 50px
        padding: 0 10px
        +animate(color, 0.25s)
      &:first-child a:hover
        color: $cyan
      &:last-child a:hover
        color: $yellow
  z-index: 1000
  position: fixed
  display: block
  top: 0
  left: 0
  width: 100%
  height: 50px
  background: #111
  a#intridea
    float: right
  h1
    float: left
    padding: 0 10px
    a
      display: block
      width: 200px
      height: 50px
      background: url(/images/logo.png)
      text-indent: -999em
#sign_in
  float: right
  font-size: 12px
  display: inline-block
  +vertical-gradient(#444, #222, #333)
  +border-radius(5px)
  +box-shadow(1px,1px,5px,black)
  padding: 4px 8px
  font-weight: bold
  color: #ddd
  text-decoration: none
  &:hover
    color: white
    +box-shadow(0,0,8px,rgba(0,128,255,0.7))
    text-shadow: 0 0 6px rgba(0,128,255,0.7)
  img
    vertical-align: middle
    margin-right: 5px
  display: none

#new_rails_template
  position: fixed
  top: 60px
  left: 0
  width: 100%
  padding: 5px 0
  background: #181818
  border-bottom: 2px
  z-index: 999
  ul.recipes
    clear: both
    margin: 0 10px
    li
      font-size: 18px
      b
        padding: 4px 8px
  header
    height: 30px
    h1
      line-height: 30px
      color: #f0a
      font-size: 18px
      float: left
      small
        font-size: 12px
        color: #aaa
    input[type=submit]
      float: right
      background: #111
      cursor: pointer
      color: $cyan
      background: #033
      border: 0
      font-family: sans-serif
      font-size: 14px
      padding: 4px 8px
      +animate("background-color, color", 0.25s)
      &:hover, &:focus
        background: $cyan
        color: #111
    margin: 0 10px

#recipe_picker
  margin-top: 90px
  +animate(margin, 0.5s)
  margin-bottom: 70px

ul.recipes
  li
    font-size: 36px
    margin: 5px
    color: white   
    +box-shadow(5px,5px,0,rgba(0,0,0,0.3))
    background: #111
    cursor: pointer
    b
      display: block
      padding: 6px 12px
      font-weight: bold

#recipe_filters
  background: #181818
  padding: 10px
  margin: 0 -20px 15px
  #name_filter
    float: right
    margin-top: -5px
    background: black
    border: 0
    font-size: 14px
    padding: 4px 8px
    border: 1px solid #444
    color: $cyan
  a
    display: inline-block
    font-weight: bold
    font-size: 14px
    margin: 0 3px
    text-decoration: none
    color: white

#recipe_filters a
  &.persistence
    color: $c_persistence
  &.templating
    color: $c_templating
  &.testing
    color: $c_testing
  &.integration_testing
    color: $c_integration_testing
  &.assets
    color: $c_assets
  &.authentication
    color: $c_authentication
  &.deployment
    color: $c_deployment
  &.services
    color: $c_services
  &.other
    color: $c_other

ul.recipes li, #help_text li
  &.persistence
    background: $c_persistence
  &.templating
    background: $c_templating
  &.testing
    background: $c_testing
  &.assets
    background: $c_assets 
  &.integration_testing
    background: $c_integration_testing
  &.css
    background: $c_assets
  &.authentication
    background: $c_authentication
  &.deployment
    background: $c_deployment
  &.services
    background: $c_services
    color: black
  &.other
    background: $c_other
    color: black
  &.disabled
    color: #ccc
    background: #666

#help_text
  li
    z-index: 1000
    position: fixed
    bottom: -100px
    left: 0
    width: 100%
    color: white
    +vendor("box-sizing","border-box")
    padding: 10px 15px
    +animate(bottom, 0.5s)
    &.visible
      bottom: 0px

#main
  > h1
    padding: 10px 15px
    background: $cyan
    color: #111
    font-size: 30px
    font-weight: bold
    text-align: center

#saved_recipes 
  text-align: center
  padding: 10px
  li
    display: inline-block
    font-size: 20px
    b
      display: inline-block

#rails_command
  padding: 20px
  background: #111
  font-family: Monaco, monospace
  font-size: 14px
  color: white
  text-align: center
  a
    color: #ff0
  #app_name
    color: #f08
    font-weight: bold

#directory_picker
  text-align: center
  color: #888
  font-size: 14px
  margin: 0 0 10px
  background: black
  input
    background: black
    padding: 2px 5px
    font-family: Monaco, monospace
    font-weight: bold
    border: 1px solid #333
    font-size: 14px
    color: #f08

.breakout_box
  background: #111
  h1
    padding: 8px 12px
    background: black
    color: $cyan
    font-weight: bold
    font-size: 20px
    small
      font-weight: npersistenceal
      font-size: 12px
      color: #888
      float: right
      line-height: 20px

#content
  > header
    h1
      color: #ee0
      font-size: 40px
      text-align: center
      margin: 20px
