@import css3.sass
@import mixins.sass
@import reset.sass

body
  font-family: sans-serif
  background: #282828

#content
  padding: 55px 20px 20px

#bottom
  display: none

#top
  z-index: 1000
  position: fixed
  display: block
  top: 0
  left: 0
  width: 100%
  height: 50px
  background: #111
  a#intridea
    float: right
  h1
    float: left
    padding: 0 10px
    a
      display: block
      width: 200px
      height: 50px
      background: url(/images/logo.png)
      text-indent: -999em
#sign_in
  float: right
  font-size: 12px
  display: inline-block
  +vertical-gradient(#444, #222, #333)
  +border-radius(5px)
  +box-shadow(1px,1px,5px,black)
  padding: 4px 8px
  font-weight: bold
  color: #ddd
  text-decoration: none
  &:hover
    color: white
    +box-shadow(0,0,8px,rgba(0,128,255,0.7))
    text-shadow: 0 0 6px rgba(0,128,255,0.7)
  img
    vertical-align: middle
    margin-right: 5px
  display: none
  

$c_orm: #c00
$c_templating: #0c0
$c_unit_testing: #44f
$c_javascript: #fc0
$c_integration_testing: #c0c
$c_css: #0cc
$c_authentication: #f70
$c_deployment: #c07
$c_services: #ac0

#recipe_filters
  background: #181818
  padding: 10px
  margin: 0 -20px 15px
  #name_filter
    float: right
    margin-top: -5px
    background: black
    border: 0
    font-size: 14px
    padding: 4px 8px
    border: 1px solid #444
    color: #0cc
  a
    display: inline-block
    font-weight: bold
    font-size: 14px
    margin: 0 3px
    text-decoration: none
    color: white
    &.orm
      color: $c_orm
    &.templating
      color: $c_templating
    &.unit_testing
      color: $c_unit_testing
    &.javascript
      color: $c_javascript
    &.integration_testing
      color: $c_integration_testing
    &.css
      color: $c_css
    &.authentication
      color: $c_authentication
    &.deployment
      color: $c_deployment
    &.services
      color: $c_services

#new_rails_template
  position: fixed
  top: 50px
  left: 0
  width: 100%
  padding: 5px 0
  background: #181818
  border-bottom: 2px
  z-index: 999
  ul.recipes
    clear: both
    margin: 0 10px
    li
      font-size: 18px
      b
        padding: 4px 8px
  header
    height: 30px
    h1
      line-height: 30px
      color: #f0a
      font-size: 18px
      float: left
      small
        font-size: 12px
        color: #aaa
    button
      float: right
      background: #111
      cursor: pointer
      color: #0cc
      background: #033
      border: 0
      font-family: sans-serif
      font-size: 14px
      padding: 4px 8px
      +animate("background-color, color", 0.25s)
      &:hover, &:focus
        background: #0cc
        color: #111
    margin: 0 10px

#recipe_picker
  margin-top: 90px
  +animate(margin, 0.5s)
  margin-bottom: 70px

ul.recipes
  li
    font-size: 36px
    margin: 5px
    color: white   
    +box-shadow(5px,5px,0,rgba(0,0,0,0.3))
    background: #111
    cursor: pointer
    b
      display: block
      padding: 6px 12px
      font-weight: bold

ul.recipes li, #help_text li
  &.orm
    background: $c_orm
  &.templating
    background: $c_templating
  &.unit_testing
    background: $c_unit_testing
  &.javascript
    background: $c_javascript
    color: black    
  &.integration_testing
    background: $c_integration_testing
  &.css
    background: $c_css
  &.authentication
    background: $c_authentication
  &.deployment
    background: $c_deployment
  &.services
    background: $c_services
    color: black
  &.disabled
    color: #ccc
    background: #666

#help_text
  li
    z-index: 1000
    position: fixed
    bottom: -100px
    left: 0
    width: 100%
    color: white
    +vendor("box-sizing","border-box")
    padding: 10px 15px
    +animate(bottom, 0.5s)
    &.visible
      bottom: 0px

#main
  > h1
    padding: 10px 15px
    background: #0cc
    color: #111
    font-size: 30px
    font-weight: bold
    text-align: center

#saved_recipes 
  text-align: center
  padding: 10px
  li
    display: inline-block
    font-size: 20px
    b
      display: inline-block

#rails_command
  padding: 20px
  background: #111
  font-family: Monaco, monospace
  font-size: 14px
  color: white
  text-align: center
  a
    color: #ff0
  #app_name
    color: #f08
    font-weight: bold

#directory_picker
  text-align: center
  color: #888
  font-size: 14px
  margin: 0 0 10px
  background: black
  input
    background: black
    padding: 2px 5px
    font-family: Monaco, monospace
    font-weight: bold
    border: 1px solid #333
    font-size: 14px
    color: #f08

.breakout_box
  background: #111
  h1
    padding: 8px 12px
    background: black
    color: #0cc
    font-weight: bold
    font-size: 20px
    small
      font-weight: normal
      font-size: 12px
      color: #888
      float: right
      line-height: 20px

#content
  > header
    h1
      color: #ee0
      font-size: 40px
      text-align: center
      margin: 20px
