html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 10; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

body {
  font-family: sans-serif;
  background: #282828; }

#content {
  padding: 55px 20px 20px; }

#bottom {
  display: none; }

#top {
  z-index: 1000;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #111111; }
  #top h1 {
    float: left;
    padding: 0 10px; }
    #top h1 a {
      color: #00cccc;
      font-weight: bold;
      letter-spacing: -0.05em;
      font-size: 28px;
      line-height: 50px;
      text-decoration: none; }

#sign_in {
  float: right;
  font-size: 12px;
  display: inline-block;
  background-color: #333333;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -moz-linear-gradient(top, #444444, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222')";
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 5px black;
  -webkit-box-shadow: 1px 1px 5px black;
  box-shadow: 1px 1px 5px black;
  filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=1px, OffY=1px, Color='black')";
  -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=1px, OffY=1px, Color='black')\"";
  padding: 4px 8px;
  font-weight: bold;
  color: #dddddd;
  text-decoration: none;
  display: none; }
  #sign_in:hover {
    color: white;
    -moz-box-shadow: 0 0 8px rgba(0, 128, 255, 0.7);
    -webkit-box-shadow: 0 0 8px rgba(0, 128, 255, 0.7);
    box-shadow: 0 0 8px rgba(0, 128, 255, 0.7);
    filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='rgba(0, 128, 255, 0.7)')";
    -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='rgba(0, 128, 255, 0.7)')\"";
    text-shadow: 0 0 6px rgba(0, 128, 255, 0.7); }
  #sign_in img {
    vertical-align: middle;
    margin-right: 5px; }

#recipe_filters {
  background: #181818;
  padding: 10px;
  margin: 0 -20px 15px; }
  #recipe_filters #name_filter {
    float: right;
    margin-top: -5px;
    background: black;
    border: 0;
    font-size: 14px;
    padding: 4px 8px;
    border: 1px solid #444444;
    color: #00cccc; }
  #recipe_filters a {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin: 0 3px;
    text-decoration: none;
    color: white; }
    #recipe_filters a.orm {
      color: #ff7700; }
    #recipe_filters a.templating {
      color: #11aaaa; }
    #recipe_filters a.unit_testing {
      color: #cc0088; }
    #recipe_filters a.javascript {
      color: #33aa00; }
    #recipe_filters a.integration_testing {
      color: #cc0000; }
    #recipe_filters a.css {
      color: #ffcc00; }
    #recipe_filters a.authentication {
      color: #0044cc; }
    #recipe_filters a.deployment {
      color: #8800ff; }

#new_rails_template {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  padding: 5px 0;
  background: #181818;
  border-bottom: 2px;
  z-index: 999; }
  #new_rails_template ul.recipes {
    clear: both;
    margin: 0 10px; }
    #new_rails_template ul.recipes li {
      font-size: 18px; }
      #new_rails_template ul.recipes li b {
        padding: 4px 8px; }
  #new_rails_template header {
    height: 30px;
    margin: 0 10px; }
    #new_rails_template header h1 {
      line-height: 30px;
      color: #ff00aa;
      font-size: 18px;
      float: left; }
    #new_rails_template header button {
      float: right;
      background: #111111;
      cursor: pointer;
      color: #00cccc;
      border: 0;
      font-family: sans-serif;
      font-size: 14px;
      padding: 4px 8px; }

#recipe_picker {
  margin-top: 90px;
  -webkit-transition-property: margin;
  -moz-transition-property: margin;
  -o-transition-property: margin;
  -ms-transition-property: margin;
  transition-property: margin;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s; }

ul.recipes li {
  font-size: 36px;
  margin: 5px;
  color: white;
  -moz-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=5px, OffY=5px, Color='rgba(0, 0, 0, 0.3)')";
  -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=5px, OffY=5px, Color='rgba(0, 0, 0, 0.3)')\"";
  background: #111111;
  cursor: pointer; }
  ul.recipes li b {
    display: block;
    padding: 6px 12px;
    font-weight: bold; }
  ul.recipes li span {
    display: none; }
  ul.recipes li.orm {
    background: #ff7700; }
  ul.recipes li.templating {
    background: #11aaaa; }
  ul.recipes li.unit_testing {
    background: #cc0088; }
  ul.recipes li.javascript {
    background: #33aa00; }
  ul.recipes li.integration_testing {
    background: #cc0000; }
  ul.recipes li.css {
    background: #ffcc00;
    color: black; }
  ul.recipes li.authentication {
    background: #0044cc; }
  ul.recipes li.deployment {
    background: #8800ff; }
  ul.recipes li.disabled {
    color: #cccccc;
    background: #666666; }
