    </section>
  </div>
  <footer id='bottom'>
    Copyright &copy; 2010-2011 Intridea Inc. Licensed under the MIT License.
    <%= link_to 'Code', 'https://github.com/intridea/rails_wizard', :target => '_github' %>
    <%= link_to 'Blog', 'http://blog.railswizard.org', :target => '_github' %>
    <%= link_to 'Twitter', 'http://twitter.com/railswizard' %>
    <%= link_to 'Feedback', 'http://github.com/intridea/rails_wizard/issues', :target => '_github' %>
  </footer>
</body>
</html>
